
<h1> Angular  {{title}}</h1>
<!-- ---------event----------- -->
<!-- <button (click)="getData('hello')" >Click me</button>
<br /> <br />
<input type="text" #box (keyup)="getData(box.value)" placeholder="key up event"/>

<p (mouseover)="getData('over')"> event on paragraph</p>
<h1 (mouseup)="getData('up')"> event on heading tag</h1> -->


<!-- ---------get text box value and print------>
<!-- <input type="text" #box placeholder="Enter Name" name="name" >
<button (click)="getUsername(box.value)"> click </button>

<p> value is: {{displayval}} </p> -->



<!-- <button (click)="counter('minus')" > --</button>
<p> count is: {{count}} </p>
<button (click)="counter('add')"> ++  </button> -->

<!-- <input type="text" name="username" value={{name}} disabled={{disable}}>
<br> <br>
<input type="text" name="username" [value]=name [disabled]=disable> -->

<!-- <h1 *ngIf="show; then ifBlock else elseBlock "> </h1>

<ng-template #ifBlock>
    <h1>if condition </h1>
</ng-template>

<ng-template #elseBlock>
    <h1>else condition </h1>
</ng-template> -->

<!-- <ng-template [ngIf]="color==='red' ">
<h1 style="color: red;"> red-colore </h1>
</ng-template>
<ng-template [ngIf]="color==='green' ">
<h1 style="color: green;"> green-colore </h1>
</ng-template>
<ng-template [ngIf]="color==='yellow' ">
    <h1 style="color: yellow;"> green-colore </h1>
    </ng-template> -->

    <!-- <div [ngSwitch]="color">
        <h1 *ngSwitchCase=" 'red' " style="color: red;" >Red color</h1>
        <h1 *ngSwitchCase=" 'blue' " style="color: blue;" >Red color</h1>
        <h1 *ngSwitchCase=" 'purple' " style="color: purple;" >Red color</h1>
        <h1 *ngSwitchCase=" 'green' " style="color: green;" >Red color</h1>
        <h1 *ngSwitchCase=" 'orange' " style="color: orange;" >Red color</h1>
        
        
        <h1 *ngSwitchDefault > color is not defined </h1>
    </div> -->

    <!-- <h4 *ngFor="let item of users">Name is : {{item}}</h4>
    <h4 *ngFor="let item of userDetails">info: {{item.name}}   -   {{item.email}}</h4> -->


    <!-- <ul *ngFor="let user of users">
        <li>Name is: {{user.name}}</li>
        <li>Email is: {{user.email}}</li>
        <li>socialAcounts</li>
        <ul *ngFor="let account of user.socialAccount">
            <li>{{account}}</li>
        </ul>
    </ul> -->

<h1 [style.color]="color"> {{colors}} </h1>
<button (click)="change()" > click to update </button>