
<h1> Angular  {{title}}</h1>

<!--  basic form -->

<!-- <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)" >
    <input type="text" ngModel name="user" placeholder="enter your name" >
    <br /> <br />
    <input type="text" ngModel name="email" placeholder="enter your email" >
    <br /> <br />
    <input type="text" ngModel name="password" placeholder="enter your passwod" >
    <br /> <br />
    <button> Register </button>
</form>

<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul> -->

<!-- ----------------toggle---------------------- -->


<!-- <button (click)="toggle()">Toggle</button>
<h1 style="color: red;"  *ngIf="display" >
    Hey!!! I'm Reenu Nehra
</h1> -->


<!-- -------------------todo list in angular------------------ -->

<!-- <input type="text" placeholder="Enter new Task" #task />
<br /><br />
<button (click)="addTask(task.value)" > Add Task </button>

<br />

<ul *ngFor="let item of list">
    <li>{{item.name}} <button (click)="removeTask(item.id)">Remove</button> </li>
</ul> -->


<!-- pass data child to parent component--------------------------------------- -->

<!-- <app-child [item]="data" ></app-child>
<button (click)="updateChild()">Update child component</button> -->


<!-- // send data child to parent component----------------- -->

<h1>{{data}}</h1>
<app-child (updateDataEvent)="updateData($event)" > </app-child>